<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
</head>
<body>
	<h5>login</h5>
	<a href="/"> or sigh up!</a>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="your email">
	<br>
	<input type="text" name="username" placeholder="your username">
	<br>
	<input type="text" name="passwored" placeholder="your passwored">
	<br>
	<input type="submit" value = "take me to see gifts!">
</for>
</body>
</html>